<main class="show-main">
<% if flash[:complete] %>
  <div class="flash">
    <%= flash[:complete] %>
  </div>
<% end %>


<main>
    <table class="show-table" cellspacing="10">
        <tr>
          <td><b>Title:</b></td>
          <td><%= @book.title %></td>
        </tr>
        <tr>
      	  <td><b>Body:</b></td>
      	  <td><%= @book.body %></td>
        </tr>
    </table>
  
      <%= link_to "Edit", edit_book_path(@book.id) %>
      <%= link_to "Back", books_path %>
</main>